/*
	@theme Andro
	@author Cyril Mengin
	@override-placeholders html, css, less, js
*/
:document-base {
  color: #d6d6d6;
  spell-check: disabled;
  background-color: #292929;
  insertion-point-color: #d6d6d6;
  selection-background-color: #3c3c3c;
  current-line-background-color: #303030; }

comment {
  color: #676767; }

string {
  color: #e8bf6a; }

html doctype, html doctype name, html doctype punctuation {
  color: #676767; }
html tag {
  color: #b9aa99; }
  html tag attribute-name {
    color: #6e5e4b; }
  html tag.self-closing {
    color: #6b84a3; }
    html tag.self-closing attribute-name {
      color: #405268; }

css selector, less selector {
  color: #d6d6d6; }
css property-name, less property-name {
  color: #6b84a3; }
css property-value, less property-value {
  color: #e8bf6a; }
  css property-value keyword, css property-value constant, less property-value keyword, less property-value constant {
    color: #c24d43; }
css keyword.important, less keyword.important {
  font-weight: bold;
  color: #c24d43; }
css.embedded, less.embedded {
  background: #242424; }

js variable {
  color: #b9aa99; }
js constant {
  color: #c24d43; }
js keyword, js function {
  color: #676767; }
js operator {
  color: #d6d6d6; }
js.embedded {
  background: #242424; }
