/*
	@theme Andro
	@author Cyril Mengin
	@override-placeholders html, css, less, js, php, python, markdown
*/
:document-base {
  color: #d6d6d6;
  spell-check: disabled;
  background-color: #292929;
  insertion-point-color: #d6d6d6;
  selection-background-color: #3c3c3c;
  current-line-background-color: #303030; }

comment {
  color: #676767; }

string {
  color: #e8bf6a; }

html doctype, html doctype name, html doctype punctuation {
  color: #676767; }
html tag {
  color: #b9aa99; }
  html tag attribute-name {
    color: #6e5e4b; }
  html tag.self-closing {
    color: #6b84a3; }
    html tag.self-closing attribute-name {
      color: #405268; }

css selector, less selector {
  color: #d6d6d6; }
css property-name, less property-name {
  color: #6b84a3; }
css property-value, less property-value {
  color: #e8bf6a; }
  css property-value keyword, css property-value constant, less property-value keyword, less property-value constant {
    color: #c24d43; }
css keyword.important, less keyword.important {
  font-weight: bold;
  color: #c24d43; }
css.embedded, less.embedded {
  background: #242424; }

js variable, php variable, python variable {
  color: #b9aa99; }
js constant, php constant, python constant {
  color: #c24d43; }
js keyword, js function, php keyword, php function, python keyword, python function {
  color: #676767; }
js operator, php operator, python operator {
  color: #d6d6d6; }
js function > name, js identifier.function > name, js class > name, php function > name, php identifier.function > name, php class > name, python function > name, python identifier.function > name, python class > name {
  color: #6b84a3; }
js.embedded, php.embedded, python.embedded {
  background: #242424; }

markdown header {
  color: #c24d43; }
markdown code {
  background: #212121; }
markdown image, markdown keyword.reference, markdown link > punctuation, markdown image > punctuation {
  color: #b9aa99; }
markdown url, markdown email {
  color: #6b84a3; }
markdown markdown > punctuation.definition, markdown markdown *:not(html, comment) punctuation.definition, markdown markdown separator {
  color: #676767; }
