$blue: #6B84A3;
$beige: #E8BF6A;
$white: #D6D6D6;
$brown: #676767;
$orange: #C24D43;
$grey: #B9AA99;

$background: #292929;
$highlight: #3C3C3C;
$current: #303030;

/*
	@theme Andro
	@author Cyril Mengin
	@override-placeholders html, css, less, js, php, python, markdown
*/

:document-base {
	color: $white;
	spell-check: disabled;
	background-color: $background;
	insertion-point-color: $white;
	selection-background-color: $highlight;
	current-line-background-color: $current;
}

comment {
	color: $brown;
}

string {
	color: $beige;
}

html {
	doctype, doctype name, doctype punctuation {
		color: $brown;
	}
	tag {
		color: $grey;
		attribute-name {
			color: darken($grey, 30%);
		}
		&.self-closing {
			color: $blue;
			attribute-name {
				color: darken($blue, 20%);
			}
		}
	}
}

css, less {
	selector {
		color: $white;
	}
	property-name {
		color: $blue;
	}
	property-value {
		color: $beige;
		keyword, constant {
			color: $orange;
		}
	}
	keyword.important {
		font-weight: bold;
		color: $orange;
	}
	&.embedded {
		background: darken($background, 2%);
	}
}

js, php, python {
	variable {
		color: $grey;
	}
	constant {
		color: $orange;
	}
	keyword, function {
		color:  $brown;
	}
	operator {
		color: $white;
	}
	function > name, identifier.function > name, class > name {
		color:  $blue;
	}
	&.embedded {
		background: darken($background, 2%);
	}
}

markdown {
	header {
		color: $orange;
	}
	code {
		background: darken($background, 3%);
	}
	image, keyword.reference, link > punctuation, image > punctuation {
		color: $grey;
	}
	url, email {
		color: $blue;
	}
	markdown > punctuation.definition, markdown *:not(html,comment) punctuation.definition, markdown separator {
		color: $brown;
	}
}